table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#formDiv {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    margin-bottom: 5vh;
}

#updateformDiv {
    display: none;
    flex-direction: column;
    row-gap: 1vh;
    margin-bottom: 5vh;
}